.guider{
    background: #6c5dd3;
    padding: 15px 5px;
    width:320px;
    margin-left:2%;
    border-radius: 15px;
    height:130px;
  }
  .guider-profile{
    background-image: url("../images/profile.jpg");
    top:15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: cover;
  }
  h5{
    color: #ffff;
    font-weight: bolder !important;
  }
  h6{
    font-weight: bolder !important;
    color:black
  }
  @media (max-width: 450px) {
    .guider{
      width:220px ;
      height: 90px;
      padding: 10px 5px;
      h5{
        font-size: 0.9em;
      }
     h6{
      font-size: 0.8em;
    }
    p{
      margin-bottom: 0em;
    }
    }

    .guider-profile{
      width: 70px;
    height: 70px;

    }
  }
