.guider-side{
    background: #fff;
    position: fixed;
    top:135px;
    height: 80vh;
    width: 100%;
}
.fixedside{
  position: fixed;
  right: 0px;
}
.guiders{
  height: 63vh;
  overflow: auto;
}
.footer{
  font-weight: bolder;
  color: black;
}