@import './navbar.scss';
@import './homepost.scss';
@import './placecard.scss';
@import './homeSide.scss';
@import './guider.scss';
@import './mobilenavbar.scss';
@import './mobilecategory.scss';
@import './mobilehomepost.scss';
@import './mobileGuiders.scss';
@import './profilesidebar.scss';

.mobile{
    display: none;
}
.desktop{
    display: contents;
}

@media (max-width: 450px) {
.mobile{
    display:inline-block;
}
.desktop{
    display: none;
}
    
}
.owl-dot.active span{
    background:#6c5dd3 !important;
}